.contact {
  background-color: #c6dce4;
  text-align: center;
  padding: 20px;
}
.title h1 {
  font-size: 28px;
  font-family: "Titan One", cursive;
  padding: 10px;
  margin-bottom: 7px;
  color: #f15412;
}
.contact_container {
  width: 65%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}
.contact_options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.contact_option {
  background: #9ba3eb;
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  color: black;
  border: 1px solid transparent;
  transition: var(--transition);
}
.contact_option:hover {
  background: transparent;
  border-color: #ec9b3b;
}
.conta_icons {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #ff5d5d;
}
.contact_option h4 {
  font-size: 1rem;
  color: #faf0d7;
}
.contact_option h5 {
  font-size: 0.7rem;

  font-weight: 600;
}
.contact_option a {
  margin-top: 0.7rem;
  display: inline-block;
  text-decoration: none;
  font-size: 0.8rem;
  color: #ecb390;
}

/* form start */

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
form input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid #faf0d7;
  resize: none;
}
.Send_button {
  width: 150px;
  height: 35px;
  background-color: #9ba3eb;
  border-radius: 6px;
}
